:root {
  --background-color: #1a2c71;
  --text-color: #333;
  --datetime-picker-background: white;
  --tg-theme-secondary-bg-color: rgb(60, 60, 60);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 24px 24px;
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.datetime_picker_wrapper {
  background: var(--datetime-picker-background);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.flatpickr_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flatpickr {
  width: 320px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  line-height: 50px;
  outline: none;
  cursor: default;
  background: var(--datetime-picker-background);
}

.flatpickr-calendar {
  width: 320px !important;
}

.flatpickr-innerContainer {
  align-items: center !important;
  justify-content: center !important;
}

.flatpickr-clear-btn {
  margin: 20px 10px 10px 10px;
  width: 85px;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flatpickr-clear-btn:disabled {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}

.flatpickr-ok-btn {
  margin: 20px 10px 10px 10px;
  width: 85px;
  padding: 10px;
  background-color: #569ff7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flatpickr-ok-btn:disabled {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}

/* loader */

.loader-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.loader-overlay.visible {
  display: flex;
}

.loader {
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-top: 6px solid #0088cc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.loader.success {
  border-color: transparent;
  border-top-color: transparent;
  background-color: transparent;
  width: 50px;
  height: 50px;
  animation: none !important;
}

.loader.success:after {
  content: "✔";
  display: block;
  color: green;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  animation: none !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}